$imgPath: '../images';
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Slabo 27px', serif;
$primary: #e3e4df;
$hspace: 15px;
$vspace: 10px;
$colors: #01DD48, #FD7B01, #2312FF, #FF1C03, #EFDE1E, #FF23FF;
